# ignore bin files
bin/

# ignore obj/debug files
obj/

# ignore .vscode files
.vscode/
.vs/

# # ignore .devcontainer files
# .devcontainer/

# # ignore .dockerignore file
# .dockerignore

# ignore releases file (Folder too big for GitHub)
releases/

# The "obj" folder is used to store temporary object files and other files used in order to create the final binary during the compilation process.
# The "bin" folder is the output folder for complete binaries (assemblies).

# Visual Studio temporary files
*.user
*.suo
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sbr
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.obj
*.pdb
*.ipch
*.aps
*.bin
*.bmp
*.ico
*.exe
*.dll
*.lib
*.idb
*.manifest
*.res
debug/
release/
x64/
x86/
Win32/
